<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
  <h5 class="card-header"><%= task.start_time.strftime("%d-%B-%Y")%></h5>
        <div class="card-body" data-id = "<%=task.id%>">
          <p class="card-text"><%= task.comment %></p>
          <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }%></button>
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Edit', edit_task_path(task) %></button>
          </div>
          </div>
        </div>
        <div class="card-footer"> Start: <%= task.time_to_start  %> Finish: <%= task.time_to_end  %></div>
  </div>
</div>